* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #292929;
}

#header {
  background-color: #ffffff70;
  margin: auto;
  width: 50%;
  padding: 10px;
  border-radius: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 57%;
  background-color: #ffffff86;
  margin: auto;
  margin-top: 1em;
  padding: 7px;
  border-radius: 0.2rem;
  height: 50px;
}

.left-nav,
.first,
.second,
.right-nav {
  display: flex;
}

.first,
.second,
.right-nav {
  margin: 7px;
}

header img {
  width: 20px;
  height: 20px;
}

.left-nav {
  justify-content: space-between;
  width: 250px;
}

.right-nav {
  justify-content: space-between;
  width: 125px;
}

#title {
  margin-bottom: 1em;
  color: #ffffff;
  line-height: 17px;
  text-shadow:
    0 0 7px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;
}

#donate {
  background-image: linear-gradient(180deg, #8abbe0, #3e93d4);
  color: black;
  width: 100px;
  text-align: center;
  font-size: 14px;
  height: 21px;
  font-weight: 600;
  border: 2px outset rgb(46, 164, 219);
}
#header-child1 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}

#one {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 10px;
}

  width: 150px;
  height: 150px;
  border: 2px solid white;
  margin: 50px;
  padding: 15px;
}

#aliceblue {
  background-image: linear-gradient(180deg, #cfc6fb, #8888ce)
}

#blue {
  background-image: linear-gradient(180deg, #5caae6, #2f5f93)
}
.red {
  background-image: linear-gradient(180deg, #f56a6a, #f51008)
}